{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      <!-- display tweets here -->
      {% for tweet in tweets %}
      
      <div class="row">
        <div class="col-md-1">    
          <img alt="Vincent" class="avatar left" data-user="8965617" height="48" src="https://avatars0.githubusercontent.com/u/8965617?v=3&amp;u=1eec6fb0bda12a27b9e0a99635835bb37f831724&amp;s=140" width="48">
        </div>
        <div class="col-md-7">
          <strong>{{tweet.name}}</strong>
          <p>{{tweet.text}}<br>
          <a href=".">Retweet</a></p>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}